@use '../scss/variables' as vars;

button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 2rem;
    padding-left: 2rem;

    color: white;
    border-radius: 1rem;
    border: 0.1rem solid white;
}

.primary {
    background-color: vars.$primary;
}

.secondary {
    background-color: vars.$secondary;
}
