@use '../scss/variables' as vars;

.item-box {
    height: 3rem;
    max-width: 16rem;
    min-width: 16rem;

    margin-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    background-color: white;
    border-radius: 0.5rem;

    opacity: 1;
    transition: opacity 1s ease;

    &.fade-out {
        opacity: 0;
    }
}

.item-form-box {
    display: flex;
    align-items: center;
    gap: 0.1rem;
}

.item-input {
    max-width: 13rem;
    min-width: 13rem;

    padding: 0.3rem;
    
    border-radius: 0.5rem;
    border: 0;
    text-overflow: ellipsis;

    &:focus {
        outline: 0;
    }
}

.item-delete {
    padding: 0;
    
    background-color: white;
    border: 0;
    border-radius: 1rem;

    &:hover {
        cursor: pointer;
        color: red;
    }
}

.error-label {
    color: red;
    font-size: small;
}
